h1{
  margin: 3%;
}
h2{
  margin: 5%;
}
form{
  background-color: red;
}
.info{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
}
textarea{
  height: 100px;
}
.carta{
  width: 18rem;
  width: 100%;
}