h1{
  color: black;
  padding: 3rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Staatliches';
  letter-spacing: 1px;
}
h2{
  color: black;
  padding: 3rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Staatliches';
  letter-spacing: 1px;
}
form{
  background-color: red;
}
h5{
  margin-top: 3%;
}
.info{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
}
textarea{
  height: 100px;
  margin-bottom: 5%;
}
.carta{
  width: 18rem;
  width: 100%;
  border-radius: 10px;
}
.card-text{
  stroke: black;
}
.boton-eliminar{
  width: 90%;
  margin-bottom: 2%;
}